.row2 {
  max-width: 114rem;
  background-color: rgb(135, 26, 68);
  margin: 0 auto;
}
.row2 [class^=c-] {
  background-color: rgb(186, 89, 99);
  float: left;
}
.row2 [class^=c-]:not(:last-child) {
  margin-right: 6rem;
}
.row2 .c-1of2 {
  width: calc((100% - 6rem) / 2);
}