.main-nav{
    margin: 0 auto;
    width: 75%;
    padding:2rem 0;

    &-logo{
        display: inline-block;
        border-bottom: 5px solid $color-primary-orange;
    }

    &-span1{
        color:  $color-primary-green;
    }

    &-span2{
        color: $color-primary-green;
    }

    &-ul{
        display: inline-block;
        margin-left: 12rem;
        transform: translatex(35rem);
        font-size: 1.8rem;
    }

    &-li{
        list-style-type: none;
        display: inline-block;
        padding: 0 1rem;

        &-BR{
            border-right: 1px solid rgb(0, 0, 0, .5);
        }
    }

    &-a{
        text-decoration: none;
        transition: all .5s;

        &:link, &:visited{
            color: inherit;
        }

        &:active, &:hover{
            color: $color-primary-orange;
        }
    }
}