//colors
$color-primary-lightgray: #DADDE2;
$color-primary-green: #409003;
$color-primary-gray: #5F6B77 ;
$color-primary-orange: #a24f06;

//margins
$margin-bottom-between-one-section-and-its-heaeding: 5rem;
$margin-bottom-between-sections:15rem;
$margin-bottom-between-one-section-content-and-its-secondary-heaeding: 1rem;

//fonts
$font-color-gray: #343c44;