.auto-grid-container{
    background: transparent;
    padding:0 18rem;
}

.auto-grid {
    --auto-grid-min-size: 35rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 5rem;
}

.grid{
    width: 35rem;
    height: 30rem;
    margin-right:-50px;
    text-align: center;
    background: #eb4d4b;
    color: #ffffff;        
    background-position: center;
    background-size: cover;
    position: relative;

    &-par{
        display: inline-block;
        font-size: 3rem;
        font-weight: 900;
        border-bottom: 4px solid $color-primary-orange;
        position: absolute;
        top: 23rem;
        left: 8rem;
    }

    &-1{
        background-image: url(../images/img7.jpg);
    }
    
    &-2{
        background-image: url(../images/img8.jpg);
    }
    
    &-3{
        background-image: url(../images/img9.jpg);
    }
    
    &-4{
        background-image: url(../images/img10.jpg);
    }
    
    &-5{
        background-image: url(../images/img11.jpg);
    }
    
    &-6{
        background-image: url(../images/img12.jpg);
    }
    
}

