.primary-heading{
    text-transform: uppercase;
    color: $color-primary-green;
    font-size: 4rem;
    text-shadow: rgba(0, 0, 0, 0.407) 1rem 1rem 1rem;
    margin-bottom: $margin-bottom-between-one-section-and-its-heaeding;
}