.secondary-heading{
    text-transform: uppercase;
    color: $color-primary-green;
    font-size: 3.2rem;
    text-shadow: rgba(0, 0, 0, 0.407) 1rem 1rem 1rem;
    margin-bottom: $margin-bottom-between-one-section-content-and-its-secondary-heaeding;
    margin-top: 6rem;
}

//مبدئيا
.secondary-heading-par{
    margin-bottom: 4rem;
}