.partners-section{
    text-align: center;
    margin-bottom: $margin-bottom-between-sections;
}

.services-section{
    text-align: center;
    margin-bottom: $margin-bottom-between-sections;
}

.online-training-section{
    text-align: center;
    margin-bottom: $margin-bottom-between-sections;
}

.why-section{
    text-align: center;
    margin-bottom: $margin-bottom-between-sections;
}

.contactus-section{
    text-align: center;
    margin-bottom: $margin-bottom-between-sections;
    justify-content: center;
    align-items: center;
}

.partners-section-2{
    text-align: center
}

.footer-nav1{
    height: 40vh;
    background-color: rgb(201, 175, 156);
    padding: 5rem 0; 
}